name: test

on: push

jobs:
  automated-api-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: install
        run: |
          curl -o- "https://dl-cli.pstmn.io/install/linux64.sh" | sh
      - name: Login
        run: postman login --with-api-key ${{ secrets.POSTMAN_API_KEY }}
      - name: Run
        run: |
          postman collection run "15043613-e2a30ea1-7ce8-4aec-b603-56f0dc8f9502"
